<div class="container-fluid">
    <center>
    <img src="http://bquarant.github.io/assets/img/fs-logo.jpeg"></img>
    <h1 style="font-family: 'Cabin', sans-serif !important; font-weight: 600;">findscribe</h1>
    <h4><small><code>coming soon</code></small></h4>
    </center>
</div>
